.pagination-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 1rem 0;
}


.pagination-component .MuiPaginationItem-text {
  color: var(--white) ;
  border: 1px solid var(--grey);
  transition: all 0.3s ease;
}

.pagination-component .MuiPaginationItem-text:hover {
  background-color: var(--blue) ;
  opacity: 0.8;
}

.pagination-component .Mui-selected {
  background-color: var(--blue) ;
  border-color: var(--blue) ;
}

.pagination-component .MuiPaginationItem-ellipsis {
  border: none;
  color: var(--grey);
}

