.pagination-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 1rem 0;
}


.pagination-component .MuiPaginationItem-text {
  color: var(--white) !important;
  border: 1px solid var(--grey);
  transition: all 0.3s ease;
}

.pagination-component .MuiPaginationItem-text:hover {
  background-color: var(--blue) !important;
  opacity: 0.8;
}

.pagination-component .Mui-selected {
  background-color: var(--blue) !important;
  border-color: var(--blue) !important;
}

.pagination-component .MuiPaginationItem-ellipsis {
  border: none;
  color: var(--grey);
}


@media screen and (max-width: 800px) {
  .pagination-container {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .pagination-container {
    padding: 1rem;
  }
}