.grid-flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.list-flex {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-block: 1rem;
}

.TabPanel {
  margin-top: 1rem;
}
